<script setup>
import IconArrow from './icons/IconArrow.vue';
import { ref } from 'vue';
const faqs = ref([
    {
        question: 'How many team members can I invite?',
        answer: 'You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.'
    },
    {
        question: 'What is the maximum file upload size?',
        answer: 'No more than 2GB. All files in your account must fit your allotted storage space.'
    },
    {
        question: 'How do I reset my password?',
        answer: 'Click “Forgot password” from the login page or “Change password” from your profile page.A reset link will be emailed to you.'
    },
    {
        question: 'Can I cancel my subscription?',
        answer: 'Yes! Send us a message and we’ll process your request no questions asked.'
    },
    {
        question: 'Do you provide additional support?',
        answer: 'Chat and email support is available 24/7. Phone lines are open during normal business hours.'
    },

])
</script>
<template>
    <div
        class="w-[327px] min-h-[535px] h-full mx-auto mt-[100px] rounded-3xl bg-white md:w-[1024px] md:h-[568px] md:mx-20 md:gap-x-10 md:flex md:mb-20">
        <div class=" -mt-20 grid place-items-center md:-mt-0">
            <img src="../assets/images/illustration-woman-online-mobile.svg" alt="" class=" w-[180px] md:hidden">
            <img src="../assets/images/bg-pattern-mobile.svg" alt="" class=" -mt-20  md:hidden">
            <div class="z-10 -mb-96 mt-20 hidden md:block">
                <img src="../assets/images/illustration-woman-online-desktop.svg" alt="" class=" -ml-20 w-[500px]">
                <img src="../assets/images/illustration-box-desktop.svg" alt="" class=" -mt-52 -ml-36">
            </div>
            <img src="../assets/images/bg-pattern-desktop.svg" alt="" class=" w-[664px] -ml-32 -mt-20 hidden md:block">
        </div>
        <div class=" grid place-items-center mt-10 md:flex md:flex-col md:justify-center md:items-start md:mr-6">
            <h2 class=" text-very-dark-desaturated-blue text-[32px] font-bold ">FAQ</h2>
            <div class="mt-[38px] w-[279px] md:w-[350px]">
                <details class="flex flex-col justify-between overflow-hidden border-b mb-5" v-for="(faq, index) in faqs"
                    :key="index">
                    <summary class="grid w-full cursor-pointer grid-cols-[90%,5%] items-start justify-between">
                        <span class="summary block text-very-dark-grayish-blue text-[13px] mb-3 md:text-sm hover:text-soft-red">{{ faq.question
                        }}</span>
                        <IconArrow class="summary-icon block duration-200" />
                    </summary>
                    <div class=" w-[279px] text-xs text-dark-grayisy-blue">
                        {{ faq.answer }}
                    </div>
                </details>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
details[open] {
    .summary {
        @apply rounded-none font-bold;
    }

    .summary-icon {
        @apply rotate-180;
    }
}
</style>