<template>
    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none" fill-rule="evenodd" />
    </svg>
</template>